#header {
    padding: 17px 58px;

    .container-fluid {
        padding-left: 0;
        padding-right: 0;
    }
    .navbar {
        padding: 0;
        .navbar-brand {
            width: 220px;
            margin-right: 0;
            display: inline-block;
            
            .logo {
                width: 100%;
            }
            .logo-mobile {
                width: 100%;
                display: none;
            }
        }
        .collapse {
            .navbar-nav {
                margin-left: auto;
                .menu-item {
                    &>a {
                        color: var(--c-main);
                        padding-left: 18px;
                        padding-right: 18px;
                        font-size: 15px;
                        text-decoration: none;
                    }

                    &:last-child {
                        .nav-link {
                            padding-right: 0;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 991.98px) {}
    @media (max-width: 767.98px) {}
    @media (max-width: 575.98px) {
        padding: 10px 0;
        .navbar {
            .navbar-brand {
                width: 141px;
                padding: 0;
                .logo {
                    display: none;
                }
                .logo-mobile {
                    display: block;
                }
            }
            .navbar-toggler {
                &:hover {
                    background-color: unset;
                    box-shadow: unset;
                }
            }
        }
    }
}

#menu-mobile {
    width: 100%;
    background-color: var(--c-blue-2);

    .offcanvas-header {
        justify-content: flex-end;
        button {
            color: var(--c-white);
            background-color: unset;
            border: unset;
        }
    }
    .offcanvas-body{
        .navbar-nav {
            text-align: center;
            margin-bottom: 0;
            .menu-item {
                &>a {
                    color: var(--c-white);
                    font-size: 25px;
                    font-weight: 400;
                    text-decoration: none;
                    padding: 0 0 40px 0;
                }
            }
        }
    }
}
