#banner {
    .owl-banner {
        .owl-item {
            .item {
                position: relative;
                .img {

                }
                .text {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    color: var(--c-white);
                    font-size: 34px;
                    line-height: 43px;
                    font-weight: 400;
                    width: 80%;
                    text-align: center;
                }
            }
        }
        .owl-dots {
            .owl-dot {
                &.active {
                    span {
                        background-color: var(--c-blue);
                    }
                }
            }
        }
    }
}

#news {
    padding-top: 60px;
    padding-bottom: 80px;   
    .box {
        display: grid;
        grid-template-columns: 1fr 112px;
        .left {
            .child {
                display: grid;
                grid-template-columns: 80px 1fr;

                .date {
                    font-weight: bold;

                }
                .text {
                    padding-left: 40px;

                    span {
                        &:first-child {
                            background-color: var(--c-blue);
                            border-radius: 4px;
                            padding: 2px 20px;
                            margin-right: 20px;
                            color: var(--c-white);
                        }
                    }
                }
            }
        }
        .new-link {
            color: var(--c-main);
            text-decoration: none;
        }
    }
}

#sharing {
    margin-bottom: 60px;
    .sharing-title {
        text-align: center;
        font-size: 30px;
        line-height: 35px;
        font-weight: 400;
        margin-bottom: 21px;

        span {
            color: var(--c-blue);
            font-size: 45px;
        }
    }

    .sharing-desc {
        text-align: center;
        line-height: 35px;
        white-space: pre-line;
    }

    .sharing-img {
        display: flex;
        justify-content: space-between;
        gap: 24px;
        padding-top: 28px;
        
        .left {
            width: 70%;
        }
        
        .right {
            width: 30%;
        }
        
        .img {
            width: 100%;
            height: 285px;
            object-fit: cover;
        }
        .text {
            line-height: 24px;
            padding-top: 9px;
        }
    }

    @media screen and (max-width: 768px) {
        .sharing-img {
            flex-direction: column;
            .left {
                width: 100%;
                .img {
                    height: 168px;
                }
            }
            .right {
                width: 100%;
                text-align: center;
                .img {
                    width: 232px;
                    height: 162px;

                }
            }
        }
    }
}

#activity {
    .box {
        display: grid;
        grid-template-columns: 1fr 1fr;

        .left {
            img {
                width: 100%;
            }
        }

        .right {
            padding-left: 60px;
            padding-top: 60px;
            .activity-title {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 30px;

                .activity-title {
                    font-size: 24px;
                    font-weight: 700;
                    line-height: 35px;
                }

                .activity-link {
                    color: var(--c-main);
                    text-decoration: none;
                    width: 112px;
                }
            }

            .desc {
                line-height: 26px;
                white-space: pre-line;
            }
        }
    }

    @media screen and (max-width: 768px) {
        .box {
            grid-template-columns: 1fr;
            .left {

            }
            .right {
                padding-left: 0;
            }
        }
    }
}

#foundation {
    padding-top: 60px;
    padding-bottom: 105px;

    .box {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 60px;

        .left {
            .foundation-box-1 {
                display: flex;
                justify-content: space-between;
                background-color: var(--c-gray-2);
                height: 170px;
                border-radius: 10px;
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

                .text {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    font-size: 30px;
                    font-weight: 700;
                    line-height: 35px;
                    letter-spacing: 12px;
                }

                .img {
                    width: 168px;
                    height: 100%;
                    object-fit: cover;
                    border-top-right-radius: 10px;
                    border-bottom-right-radius: 10px;
                }
            }
        }

        .right {
            .foundation-box-2 {
                position: relative;
                height: 170px;
                border-radius: 10px;
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

                .text {
                    position: absolute;
                    top: 50%;
                    right: 97px;
                    transform: translateY(-50%);
                    font-size: 30px;
                    font-weight: 700;
                    line-height: 35px;
                    letter-spacing: 12px;
                    color: var(--c-white);
                }

                .img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 10px;
                }
            }
        }
    }

    @media screen and (max-width: 768px) {
        .box {
            grid-template-columns: 1fr;
            gap: 25px;
        }
    }
}

#social-network {
    background-color: var(--c-gray);
    padding: 34px 0;

    .box {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 60px;

        .child {
            padding: 26px 32px;
            border-radius: 10px;
            background: var(--c-white);
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

            .media {
                .media-body {
                    display: flex;
                    align-items: center;
                    position: relative;
                    gap: 29px;

                    .media-img {
                        width: 54px;
                        height: 54px;
                    }

                    .media-content {
                        white-space: pre-line;
                        font-size: 23px;
                        font-weight: 700;
                        line-height: 35px;
                    }

                    .media-link {
                        position: absolute;
                        top: 50%;
                        right: 0;
                        transform: translateY(-50%);
                        text-decoration: none;
                        color: var(--c-main);
                    }
                }
            }
        }
    }

    @media screen and (max-width: 768px) {
        .box {
            grid-template-columns: 1fr;
            gap: 25px;
            .child {

            }
        }
    }
}